.layered-text-shadow {
  text-shadow:
    0.1rem 0.1rem var(--primary-color),
    0.15rem 0.15rem var(--accent-color),
    0.2rem 0.2rem var(--accent-color),
    0.25rem 0.25rem var(--accent-color),
    0.3rem 0.3rem var(--accent-color),
    0.35rem 0.35rem var(--accent-color),
    0.4rem 0.4rem var(--accent-color),
    0.45rem 0.45rem var(--accent-color),
    0.6rem 0.6rem var(--primary-color),
    0.65rem 0.65rem var(--primary-color),
    0.7rem 0.7rem var(--primary-color),
    0.75rem 0.75rem var(--primary-color),
    0.8rem 0.8rem var(--primary-color),
    0.85rem 0.85rem var(--primary-color),
    0.9rem 0.9rem var(--primary-color),
    0.95rem 0.95rem var(--primary-color),
    0 0 3rem rgb(0 0 0 / 40%);
}

.layered-text-shadow-smaller {
  text-shadow:
    0.1rem 0.1rem var(--primary-color),
    0.15rem 0.15rem var(--accent-color),
    0.2rem 0.2rem var(--accent-color),
    0.25rem 0.25rem var(--accent-color),
    0.3rem 0.3rem var(--primary-color),
    0.35rem 0.35rem var(--primary-color),
    0.4rem 0.4rem var(--primary-color),
    0 0 3rem rgb(0 0 0 / 40%);
}

.custom-shape-divider-bottom-1692385678 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1692385678 svg {
  position: relative;
  display: block;
  width: calc(133% + 1.3px);
  height: 80px;
}

.custom-shape-divider-bottom-1692385678 .shape-fill {
  fill: #fef8f1;
}
